<div class="hover-shadow">
    <div class="d-flex">
        <div>
            <h4>{{data.title}}</h4>
            <span>{{data.subTitle}}</span>
            <h4>{{data.title2}}</h4>
            <span>{{data.subTitle2}}</span>
        </div>
        <p>{{data.price}}</p>
    </div>
    <!-- <img src="{{data.image}}" alt=""/>
    <div class="figcaption bg-dark">

        <a routerLink="/project/detail"><i class="link-plus bg-primary"></i></a>
    </div>
    @if(zoom =='1') {
        <a class="mfp-link" href="{{data.image}}">
            <i class="fa fa-arrows-alt"></i>
        </a>
    }
     -->
</div>
