<ul class=" nav navbar-nav">
    <li class="active">
        <a href="#home">الرئيسية</a>
    </li>
    <li>
        <a href="#menu">قائمة الطعام</a>
        <!-- <ul class="sub-menu">
            <li><a routerLink="/project/grid">Project Grid</a></li>
            <li><a routerLink="/project/masonry">Project Masonry</a></li>
            <li><a routerLink="/project/carousel">Project Carousal</a></li>
            <li><a routerLink="/project/classic1">Project Classic-1</a></li>
            <li><a routerLink="/project/classic2">Project Classic-2</a></li>
            <li><a routerLink="/project/detail">Project Detail</a></li>
        </ul> -->
    </li>
<!-- 
    <li>
        <a routerLink="/page/about">About us</a>
    </li>
    <li>
        <a routerLink="/page/services">Services</a>
    </li>
    <li>
        <a href="javascript:void(0);">Pages</a>
        <ul class="sub-menu">
            <li>
                <a href="javascript:void(0);">Blog</a>
                <ul class="sub-menu has-child">
                    <li><a routerLink="/blog/grid">Blog Grid</a></li>
                    <li><a routerLink="/blog/list">Blog Listing</a></li>
                    <li><a routerLink="/blog/masonry">Blog Masonry</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/page/faq">FAQ</a>
            </li>
            <li>
                <a routerLink="/page/error404">Error 404</a>
            </li>
            <li>
                <a routerLink="/page/contact">Contact us</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0);">Post detail</a>
        <ul class="sub-menu">
            <li><a routerLink="/blog/image-blog">Post Image</a></li>
            <li><a routerLink="/blog/blog-with-gallery">Post Gallery</a></li>
            <li><a routerLink="/blog/video-blog">Post Video</a></li>
            <li><a routerLink="/blog/blog-with-sidebar">Post Right Sidebar</a></li>
        </ul>
    </li> -->

</ul>